{% if page.sidebar2 %}
  <div class="sidebar sticky2">
  {% if page.sidebar2 %}
    {% for s in page.sidebar2 %}
      {% if s.image %}
        <img src="{{ s.image | relative_url }}"
             alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
      {% if s.nav %}{% include nav_list nav=s.nav %}{% endif %}
    {% endfor %}
    {% if page.sidebar2.nav %}
      {% include nav_list nav=page.sidebar2.nav %}
    {% endif %}
  {% endif %}
  </div>
{% endif %}
